Exmple/WSDL/maxocur_fail.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?> 
<definitions name='server' 
	targetNamespace='http://172.17.50.155/SOAP/server.php' 
	xmlns:tns='http://172.17.50.155/SOAP/server.php' 
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
	xmlns:s='http://www.w3.org/2001/XMLSchema' 
	xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' 
	xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' 
	xmlns='http://schemas.xmlsoap.org/wsdl/'> 
	<types>
		<s:schema elementFormDefault="unqualified" targetNamespace="urn:wsdl_complexe.wsdl"/>
			<s:simpleType name="WLChar">
				<s:restriction base="s:string">
					<s:length value="1" fixed="true"/>
				</s:restriction>
			</s:simpleType> 
			<s:complexType name="tAuthentificationResponse">
				<s:sequence>
					<s:element maxOccurs="unbounded" name="AuthentificationResult" type="s:string" maxOccurs="unbounded"/>
				</s:sequence>
			</s:complexType>
			<s:element name="AuthentificationResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="unbounded" name="oAuthentificationRequest" type="tns:tAuthentificationResponse"/>
					</s:sequence>
				</s:complexType>
			</s:element>   
	  </types> 
 
	<message name='GetModificationRequest'> 
	  <part name='Identification' type='s:string'/>
	  <part name='Mac' type='s:string'/>
	  <part name='Broche' type='s:string'/>
	</message> 
	<message name='GetModificationResponse'> 
	  <part name='resultat' type='s:string'/> 
	</message> 
	<message name='GetAuthRequest'> 
	  <part name='Id' type='s:string'/>
	  <part name='Password' type='s:string'/>
	</message> 
	<message name='GetAuthResponse'> 
	  <part name='result' type='s:AuthentificationResponse'/>
	</message> 
	
	
	<portType name='GetServerPortType'> 
	  <operation name='modification'> 
	    <input message='tns:GetModificationRequest'/> 
	    <output message='tns:GetModificationResponse'/> 
	  </operation> 
	  <operation name='authentification'> 
	    <input message='tns:GetAuthRequest'/> 
	    <output message='tns:GetAuthResponse'/> 
	  </operation>
	</portType> 
	
	<binding name='GetServerBinding' type='tns:GetServerPortType'> 
	  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/> 
	  <operation name='modification'> 
	    <soap:operation soapAction='urn:xmethods-delayed-quotes#modification'/> 
	    <input> 
	      <soap:body use='encoded' namespace='urn:xmethods-delayed-info' 
	      	encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
	    </input> 
	    <output> 
	      <soap:body use='encoded' namespace='urn:xmethods-delayed-info' 
	        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
	    </output> 
	  </operation>
	  <operation name='authentification'> 
	    <soap:operation soapAction='urn:xmethods-delayed-quotes#authentification'/> 
	    <input> 
	      <soap:body use='encoded' namespace='urn:xmethods-delayed-info' 
	      	encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
	    </input> 
	    <output> 
	      <soap:body use='encoded' namespace='urn:xmethods-delayed-info' 
	        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
	    </output> 
	  </operation>
	</binding> 
	
	<service name='GeServerService'> 
	  <port name='GetServerPort' binding='GetServerBinding'> 
	    <soap:address location='http://172.17.50.155/webservice/server.php'/> 
	  </port> 
	</service> 
</definitions>