Addition.wsdl

<!--
 
(c) World Corp
2016-01-12
addition 2 entiers

Online WSDL 1.1 SOAP generator 0.2
Chaki Abderrazak 
-->
<definitions xmlns:tns="us.world_corp.my_soap_forum.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="us.world_corp.my_soap_forum.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="addition 2 entiers" targetNamespace="us.world_corp.my_soap_forum.wsdl">
<!--  definition of datatypes  -->
<types>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema" targetNamespace="us.world_corp.my_soap_forum.xsd">
<element name="resultcode">
<complexType>
<all>
<element name="value" type="int"/>
</all>
</complexType>
</element>
<element name="num1">
<complexType>
<all>
<element name="value" type="int"/>
</all>
</complexType>
</element>
<element name="num2">
<complexType>
<all>
<element name="value" type="int"/>
</all>
</complexType>
</element>
</schema>
</types>
<!--  response messages  -->
<message name="returns_resultcode">
<part name="resultcode" type="xsd:resultcode"/>
</message>
<!--  request messages  -->
<message name="addition">
<part name="num1" type="xsd:num1"/>
<part name="num2" type="xsd:num2"/>
</message>
<!--  server's services  -->
<portType name="my SOAP forum">
<operation name="addition">
<input message="tns:addition"/>
<output message="tns:returns_resultcode"/>
</operation>
</portType>
<!--  server encoding  -->
<binding name="my SOAP forum_webservices" type="tns:my SOAP forum">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="addition">
<soap:operation soapAction="urn:xmethods-delayed-quotes#addition"/>
<input>
<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
</binding>
<!--  access to service provider  -->
<service name="exemple">
<port name="exemple_0" binding="my SOAP forum_webservices">
<soap:address location="http://172.17.50.155/wsdl2/Addition.php"/>
</port>
</service>
</definitions>