wsdl.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?> 
<definitions name='server' 
  targetNamespace='http://172.17.50.155/SOAP/server.php' 
  xmlns:tns='http://172.17.50.155/SOAP/server.php' 
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
  xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' 
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' 
  xmlns='http://schemas.xmlsoap.org/wsdl/'> 

	<message name='GetModificationRequest'> 
	  <part name='Identification' type='xsd:string'/>
	  <part name='Mac' type='xsd:string'/>
	  <part name='Broche' type='xsd:string'/>
	</message> 
	<message name='GetModificationResponse'> 
	  <part name='resultat' type='xsd:string'/> 
	</message> 
	<message name='GetAuthRequest'> 
	  <part name='Id' type='xsd:string'/>
	  <part name='Password' type='xsd:string'/>
	</message> 
	<message name='GetAuthResponse'> 
	  <part name='resultat' type='xsd:string'/>
	</message> 
	<message name='GetPassRequest'> 
	  <part name='Id' type='xsd:string'/>
	  <part name='NewPassword' type='xsd:string'/>
	</message> 
	<message name='GetPassResponse'> 
	  <part name='resultat' type='xsd:string'/>
	</message> 
	<message name='GetEtatRequest'>
	  <part name='Mac' type='xsd:string'/>
	</message> 
	<message name='GetEtatResponse'> 
	  <part name='resultat' type='xsd:string'/>
	</message> 
	
	<portType name='GetServerPortType'> 
	  <operation name='Modification'> 
	    <input message='tns:GetModificationRequest'/> 
	    <output message='tns:GetModificationResponse'/> 
	  </operation> 
	  <operation name='Authentification'> 
	    <input message='tns:GetAuthRequest'/> 
	    <output message='tns:GetAuthResponse'/> 
	  </operation>
	  <operation name='Mot_de_passe'> 
	    <input message='tns:GetPassRequest'/> 
	    <output message='tns:GetPassResponse'/> 
	  </operation>
	  <operation name='Etat_courant'> 
	    <input message='tns:GetEtatRequest'/> 
	    <output message='tns:GetEtatResponse'/> 
	  </operation>
	</portType> 
	
	<binding name='GetServerBinding' type='tns:GetServerPortType'> 
	  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/> 
	  <operation name='Modification'> 
	    <soap:operation soapAction='urn:xmethods-delayed-quotes#Modification'/> 
	    <input> 
	      <soap:body use='encoded' namespace='urn:xmethods-delayed-info' 
	      	encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
	    </input> 
	    <output> 
	      <soap:body use='encoded' namespace='urn:xmethods-delayed-info' 
	        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
	    </output> 
	  </operation>
	  <operation name='Authentification'> 
	    <soap:operation soapAction='urn:xmethods-delayed-quotes#Authentification'/> 
	    <input> 
	      <soap:body use='encoded' namespace='urn:xmethods-delayed-info' 
	      	encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
	    </input> 
	    <output> 
	      <soap:body use='encoded' namespace='urn:xmethods-delayed-info' 
	        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
	    </output> 
	  </operation>
	  <operation name='Mot_de_passe'> 
	    <soap:operation soapAction='urn:xmethods-delayed-quotes#Mot_de_passe'/> 
	    <input> 
	      <soap:body use='encoded' namespace='urn:xmethods-delayed-info' 
	      	encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
	    </input> 
	    <output> 
	      <soap:body use='encoded' namespace='urn:xmethods-delayed-info' 
	        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
	    </output> 
	  </operation>
	  <operation name='Etat_courant'> 
	    <soap:operation soapAction='urn:xmethods-delayed-quotes#Etat_courant'/> 
	    <input> 
	      <soap:body use='encoded' namespace='urn:xmethods-delayed-info' 
	      	encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
	    </input> 
	    <output> 
	      <soap:body use='encoded' namespace='urn:xmethods-delayed-info' 
	        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
	    </output> 
	  </operation>
	</binding> 
	
	<service name='GetServerService'> 
	  <port name='GetServerPort' binding='GetServerBinding'> 
	    <soap:address location='http://172.17.50.155/webservice/server.php'/> 
	  </port> 
	</service> 
</definitions>