WSDL/Genere_Par_Windev.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:s0="urn:Mon_Projet" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:Mon_Projet">
  <types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="urn:Mon_Projet">
      <xsd:simpleType name="WLChar">
        <xsd:restriction base="xsd:string">
          <xsd:length value="1" fixed="true"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="tAddition">
        <xsd:sequence>
          <xsd:element name="nNombre1" type="xsd:int"/>
          <xsd:element name="nNombre2" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Addition" type="s0:tAddition"/>
      <xsd:complexType name="tAdditionResponse">
        <xsd:sequence>
          <xsd:element name="AdditionResult" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AdditionResponse" type="s0:tAdditionResponse"/>
    </xsd:schema>
  </types>
  <message name="Mon_Projet_Addition_MessageIn">
    <part name="parameters" element="s0:Addition"/>
  </message>
  <message name="Mon_Projet_Addition_MessageOut">
    <part name="parameters" element="s0:AdditionResponse"/>
  </message>

  <portType name="Mon_ProjetSOAPPortType">
    <operation name="Addition">
      <documentation> R&amp;eacute;sum&amp;eacute; : &amp;lt;indiquez ici ce que fait la proc&amp;eacute;dure&amp;gt;&lt;br /&gt; Syntaxe :&lt;br /&gt;[ &amp;lt;R&amp;eacute;sultat&amp;gt; = ] Addition (&amp;lt;nNombre1&amp;gt; est entier, &amp;lt;nNombre2&amp;gt; est entier)&lt;br /&gt;&lt;br /&gt; Param&amp;egrave;tres :&lt;br /&gt;	nNombre1 (entier) : &amp;lt;indiquez ici le r&amp;#244;le de nNombre1&amp;gt;&lt;br /&gt;	nNombre2 (entier) : &amp;lt;indiquez ici le r&amp;#244;le de nNombre2&amp;gt;&lt;br /&gt; Valeur de retour :&lt;br /&gt; 	entier : // 	Aucune&lt;br /&gt;&lt;br /&gt; Exemple :&lt;br /&gt; Indiquez ici un exemple d'utilisation.&lt;br /&gt;</documentation>
      <input message="s0:Mon_Projet_Addition_MessageIn"/>
      <output message="s0:Mon_Projet_Addition_MessageOut"/>
    </operation>
  </portType>
  <binding name="Mon_ProjetSOAPBinding" type="s0:Mon_ProjetSOAPPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Addition">
      <soap:operation soapAction="urn:Mon_Projet/Addition" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Mon_Projet">
    <port name="Mon_ProjetSOAPPort" binding="s0:Mon_ProjetSOAPBinding">
       <soap:address location='http://172.17.50.155/webservice/server.php'/> 
	  </port> 
  </service>
</definitions>
